.movie-card {
    display : flex;
    flex-direction: column;
    align-items: center;
    width : 25%;
}

.movie-list {
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    width : 300px;
}

h1 {
    text-align: center;
}

input {
    width: 200px;
}

.top-search {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
}

.stars {
    font-size: 35px;
    color:rgba(238, 255, 0, 0.822)
}

.search-input {
    display: flex;
    align-items: center;
}

#search-label {
    font-size: 24px;
    color: rgba(8, 146, 146, 0.521);
}